body {
    background-color: black;
}

h1 {
    max-width: 480px;
    text-align: center;
    margin: 60px auto;
    color: black;
    font-family: 'Anton', sans-serif;
    text-shadow: 3px 3px 8px white;
}

.div-titulo {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

h1::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}


iframe {
    --padding: 20px;
    max-width: calc(864px + var(--padding)*2); /* provavelmente aqui está bugando o jogo, fazer alterações para conferir */
    max-height: calc(648px + var(--padding)*2); /* provavelmente aqui está bugando o jogo, fazer alterações para conferir */
    width: 100%;
    height: 100vh;
    display: block;
    margin: 40px auto 10px;
    padding: var(--padding);
}

.carousel {
    max-width: 1400px;
    margin: 0 auto;
}

@keyframes pisca {
    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}
